<div class="container">
  <!-- Formulario para crear una nueva propiedad -->
  <div class="property-form">
    <!-- Aquí permanece el código de formulario para agregar/editar propiedades -->
  </div>

  <!-- Lista de propiedades -->
  <div class="property-list">
    <h1>Lista de Properties</h1>
    <ul>
      <li *ngFor="let property of properties | paginate: { itemsPerPage: limit, currentPage: page, totalItems: total }; let i = index">
        <h3>Propietario: {{ getUserNameById(property.owner) }}</h3>
        <p>Dirección: {{ property.address }}</p>
        <p>Descripción: {{ property.description }}</p>

        <!-- Valoración Media y Botón para Valorar -->
        <p>Valoración media: {{ getAverageRating(property) | number:'1.1-1' }}</p>
        <button (click)="openRatingForm(property)">Valorar</button>

        <!-- Botones adicionales para eliminar y modificar -->
        <button *ngIf="property._id !== undefined" (click)="deleteProperty(property._id)">Eliminar</button>
        <button (click)="prepararEdicion(property, i)" class="modificar">Modificar</button>
      </li>
    </ul>
    
    <pagination-controls (pageChange)="handlePageChange($event)" nextLabel="Next" previousLabel="Previous"></pagination-controls>
    <div class="mt-3">  
      Items per Page: 
      <select (change)="handleLimitChange($event)">
        <option *ngFor="let limitUser of limitProperties" [value]="limitUser">{{ limitUser }}</option>
      </select>
    </div>
  </div>

  <!-- Formulario Modal para Valorar -->
  <div *ngIf="ratingFormVisible" class="rating-modal">
    <h3>Valorar propiedad</h3>
    <label for="rating">Valoración (0 - 5):</label>
    <input id="rating" type="number" [(ngModel)]="currentRating" min="0" max="5" step="0.1">
    <button (click)="submitRating()">Enviar valoración</button>
    <button (click)="closeRatingForm()">Cancelar</button>
  </div>
</div>
